@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gentium+Book+Plus:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap');



* {
  box-sizing: border-box;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

::-webkit-scrollbar {
  display: none;
}

body {
  min-width: 100vH;
  color: white;
  background-color: black;
  fill: white;
  display: flex;
  background-attachment: fixed;

}

.dark-mode {
  color: black;
  background-color: white;
  fill: black;
}

.fade {
  width: 100%;
  max-width: 40%;
  margin: auto;
  background-image: linear-gradient(transparent 0%,
      currentColor 3%, 90%,
      transparent 95%);
  background-clip: text;
  -webkit-background-clip: text;
  background-attachment: fixed;
  padding-top: 7%;
  font-size: 18px;
}

.fade p {
  margin: 15px 0;
  font-family: "Gentium Book Plus", serif;
  font-weight: 400;
  color: transparent;
  line-height: 120%;
}



#uvod {
  font-size: 4em;
  font-family: 'Libre Baskerville', serif;
  text-align: left;
  line-height: 75%;
  font-weight: 700;
}

.subuvod {
  padding-top: 15vh;
  border-bottom: 1px solid;
  position: relative;
  margin-bottom: 5.5vh;
  font-size: 1.2em;
}

.subuvod p {
  color: inherit;
}

.subuvod1 {
  position: absolute;
}

.subuvod2 {
  text-align: right;

}


header {
  width: 20%;
  height: 100%;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: inherit;
  filter: invert(1);
}



header a {
  font-size: 1.3em;
  padding-bottom: 5px;
  text-decoration: none;
  color: inherit;
  font-weight: 500;

}



.topheader {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: inherit;
  
}

.logo {
  max-width: 95%;
  padding-top: 4%;
  padding-left: 3%;
  padding-right: 25px;
  margin-left: 2.5%;
  
}

.logowrap {
  background-color: transparent;
  position: relative;
  padding-bottom: 15%;
  
}


.invert {
  filter: invert(1);
}

.headdiv {
  width: 100%;
  background-color: inherit;
}

.headdiv a {
  padding-left: 25px;
  padding-top: 20px;
  padding-bottom: 7px;
  width: 20%;
  display: block;
  width: 100%;
  color: inherit;
  margin-bottom: 50px;
}


.about-hover {
  position: relative;
  text-decoration: none;
  background-color: inherit;
}

.about-hover::after {
  content: '';
  position: absolute;
  width: 89.5%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 5%;
  background-color: inherit;
  filter: invert(1);
  transform-origin: bottom left;
  transition: transform .5s ease-out;
}

.about-hover:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.contact-hover {
  position: relative;
  text-decoration: none;
  background-color: inherit;
}

.contact-hover::after {
  content: '';
  position: absolute;
  width: 89.5%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 5%;
  background-color: inherit;
  filter: invert(1);
  transform-origin: bottom left;
  transition: transform .5s ease-out;
}

.contact-hover:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.donate-hover {
  position: relative;
  text-decoration: none;
  background-color: inherit;

}

.donate-hover::after {
  content: '';
  position: absolute;
  width: 89.5%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 5%;
  background-color: inherit;
  filter: invert(1);
  transform-origin: bottom left;
  transition: transform .5s ease-out;
}

.donate-hover:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}



.textsizepref {
  display: flex; 
  width: 45%;
  margin-left: 0;
  margin-top: 0%;
  margin-bottom: 0%;
  user-select: none;
  pointer-events: none;
}

.small {
  font-family: "Archivo", sans-serif;
  font-weight: 100;
  font-style: italic;
  font-size: 18px;
  text-align: left;
  margin-right: 69%;
  margin-left: -2%;
  line-height: 0%;
}

.medium {
  font-family: "Archivo", sans-serif;
  font-weight: 100;
  font-size: 40px;
  font-style: italic;
  text-align: center;
  line-height: 7.5%;
  margin-right: 65%;
  
}

.big {
  font-family: "Archivo", sans-serif;
  font-weight: 100;
  font-size: 55px;
  font-style: italic;
  text-align: right;
  line-height: 10%;

  
}



input[type=range] {
  
  margin-left: 7.5%;
  width: 85%;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  
  box-shadow: 0px 0px 0px inherit, 0px 0px 0px inherit;
  background: inherit;
  border: 0px solid inherit;
}

input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px, 0px 0px 0px inherit;
  border: 0px solid;
  height: 24px;
  width: 24px;
  border-radius: 20px;
  cursor: pointer;
  box-shadow: 0px 0px 4px rgb(143, 143, 143);
  -webkit-appearance: none;
  margin-top: -6px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: inherit;
}



.botheader {
  background-color: inherit;
}

.boticons {
  background-color: inherit;
  position: relative;
  margin-bottom: 5px;
}


.textsizeclass {
  margin-top: 5vh;
  margin-bottom: 5px;
}

input[type=range] {
  
  margin-left: 5%;
  width: 90%;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  
  box-shadow: 0px 0px 0px inherit, 0px 0px 0px inherit;
  background: inherit;
  border: 0px solid inherit;
}

input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px, 0px 0px 0px inherit;
  border: 0px solid;
  height: 24px;
  width: 24px;
  border-radius: 20px;
  cursor: pointer;
  
  box-shadow: 0px 0px 4px rgb(143, 143, 143);
  -webkit-appearance: none;
  margin-top: -6px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: inherit;
}



.sliderdiv {
  background-color: inherit;
  margin-top: 17.5%;
  margin-left: 5%;
  margin-bottom: 15%;
  
}

.material-symbols-outlined {
  transform: translateY(50%) scale(-1.3);
  padding-right: 15px;
  user-select: none;
  transition: .5s;
}

.languages {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  background-color: inherit;

}

.languages a {
  font-size: 1.25em;
  width: 33.33%;
  text-align: center;
  padding: 7% 0 7% 0;
  background-color: inherit;
  transition: .7s ease;
}

.languages a:hover {
  background-color: inherit;
  color: inherit;
  filter: invert(1);
}

.active {
  background-color: inherit;
  color: inherit;
  filter: invert(1);
}




.conclusion {
  display: flex;
  margin-left: 95%;
  margin-top: 65vh;
  width: 100%;
  position: fixed;
  background-color: inherit;
  filter: invert(1);
  height: 1px;
  text-decoration: none;
  color: inherit;
  box-sizing: border-box;
  border-left: 30px solid;
  border-right: none;
  border-top: 3vh solid transparent;
  border-bottom: 3vh solid transparent;
  line-height: 0%; 
  font-size: 2em;
  transition: .7s;
}

.conclusion:hover {
  margin-left: 80%;

}


.svgwrap {
  position: relative;
  transform: translateY(-2.35vh);
}

.conclusion svg {
  background-color: transparent;
  width: 50px;
  height: 50px;
  fill: inherit;
}





.textselect {
  user-select: none;
}

.line {
  width: 660px;

}

@media screen and (max-width: 1500px) {

  header {
    width: 18%;
  }

  .fade {
    max-width: 45%;
  }



  #uvod {
    font-size: 3.5em;
  }

  header a {
    font-size: 1.25em;
  }

  .headdiv a {
    padding-top: 40px;
  }

  .languages a {
    font-size: 1em;
  }

  .sliderdiv {
    transform: scale(.8);
    margin-right: auto;
    margin-left: 15px;
    margin-top: 40px;
  }

}

@media screen and (max-width: 1190px) {

  header {
    width: 16%;
  }

  .fade {
    max-width: 60%;
  }

  #uvod {
    font-size: 3.3em;
  }

  header a {
    font-size: 1em;
  }

  .languages a {
    font-size: 1em;
  }

  .sliderdiv {
    transform: scale(.6);
    margin-right: auto;
    margin-left: 10px;
    margin-top: 20px;
  }

  .headdiv a {
    padding-top: 25px;
  }

}

@media (max-height: 647px) {

  header {
    width: 18%;
  }

  .fade {
    max-width: 580px;
  }

  

  #uvod {
    font-size: 2.3em;
  }

  header a {
    font-size: 1.25em;
  }

  .headdiv a {
    padding-top: 40px;
  }

  .languages a {
    font-size: 1em;
  }

  .sliderdiv {
    transform: scale(.8);
    margin-right: auto;
    margin-left: 15px;
    margin-top: 40px;
  }

}

@media (max-height: 558px) {
  .fade {
    max-width: 500px;
  }

  #uvod {
    font-size: 2.1em;
  }

  header a {
    font-size: 1em;
  }

  .headdiv a {
    padding-top: 25px;
  }

  .languages a {
    font-size: 1em;
  }

  .sliderdiv {
    transform: scale(.6);
    margin-right: auto;
    margin-left: 10px;
    margin-top: 20px;
  }

}